body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 1024px;
    margin: 0 auto;
}

p, h1, h2 {
    margin: 0px;
}

:root {
    --main-bg-color:#00669F;
    --sec-bg-color:#1CD1B0;
    --thr-bg-color:#F3F3F3;
}

[alt="thumbnail"] {
    position: absolute;
    align-self: center;
    top: 128px;
    border-radius: 50%;
    width: 120px;
    height: 118px;
}

[alt="background"] {
    width: 300px;
    height: 193px;
}

header p {
    background-color: var(--sec-bg-color);
}

header h1{
    text-transform: capitalize;
    background-color: var(--main-bg-color);
    height: 101px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

button {
    top: 462px;
    align-self: center;
    position: absolute;
    background-color: var(--main-bg-color);
    color: white;
    position: absolute;
    width: 128.78px;
    height: 48.52px;
    border: none;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 834px;
}

article {
    background-color: var(--thr-bg-color);
    position: relative;
    width: 300px;
    height: 529px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-start-start-radius: 25%;
    border-start-end-radius: 25%;
}

.fas {
    position: absolute;
    color: red;
    top: 3%;
    left: 10%;
    font-size: 25px;
}

h2 {
    text-transform: uppercase;
    margin-top: 74px;
    text-align: center;
}

footer {
    color: white;
    height: 51px;
    background-color: var(--main-bg-color);
}
